In [3]:
import pandas as pd

df = pd.read_csv("/home/jdata/Escritorio/projects/cursoDataScience/2024.csv", nrows = 100)
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Delitos reportados mes de Noviembre 2024,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,código,fecha,descripción,ubicación,estado,impacto,NaN,Para la limpieza de los datos se tendrá lo sig...
9,c001,01/11/24,robo a mano armada,merida casco central,resuelto,alto,NaN,1. datos faltantes en algunas celdas.

In [4]:
df.tail()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
41,c033,03/12/24,robo a mano armada,la vega,sin resolver,alto,NaN,NaN
42,c034,04/12/24,robo a mano armada,la vega,sin resolver,alto,NaN,NaN
43,c035,05/12/24,acceso a propiedad privada,el valle,resuelto,bajo,NaN,NaN
44,c036,06/12/24,acceso a propiedad privada,el valle,resuelto,bajo,NaN,NaN
45,c037,07/12/24,acceso a propiedad privada,el valle,resuelto,bajo,NaN,NaN

In [12]:
df = df.sample(frac = 1)

df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

In [13]:
df.dtypes

Unnamed: 0     object
Unnamed: 1     object
Unnamed: 2     object
Unnamed: 3     object
Unnamed: 4     object
Unnamed: 5     object
Unnamed: 6    float64
Unnamed: 7     object
dtype: object

In [14]:
df.values

array([['c007', '07/11/24', 'acceso a propiedad privada', 'el valle',
        'resuelto', 'bajo', nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan],
       ['c032', '02/12/24', 'robo a mano armada', 'la vega',
        'sin resolver', 'alto', nan, nan],
       ['c027', '27/11/24', 'homicidio ', 'ejido', 'sin resolver',
        'alto', nan, nan],
       ['c036', '06/12/24', 'acceso a propiedad privada', 'el valle',
        'resuelto', 'bajo', nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan],
       ['c012', '12/11/24', 'robo a mano armada', 'ejido',
        'sin resolver', 'alto', nan, nan],
       ['c004', '04/11/24', 'hurto', 'merida casco central', 'resuelto',
        'medio', nan, '4. errores de tipado u ortograficos'],
       ['c026', '26/11/24', 'homicidio ', 'ejido', 'sin resolver',
        'alto', nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan],
       ['c033', '03/12/24', 'robo a mano armada', 'la vega',
        'sin resolver', 'alto', nan, nan],
       ['c024', '24/11/24', 'secuestro', 'ejido', 'sin resolver', 'alto',
        nan, nan],
       ['c013', '13/11/24', 'robo a mano armada', 'ejido',
        'sin resolver', 'alto', nan, nan],
       ['c011', '11/11/24', 'robo a mano armada', 'ejido',
        'sin resolver', 'alto', nan, nan],
       ['c025', '25/11/24', 'secuestro', 'ejido', 'sin resolver', 'alto',
        nan, nan],
       ['c029', '29/11/24', 'homicidio ', 'la vega', 'sin resolver',
        'alto', nan, nan],
       ['c016', '16/11/24', 'robo a mano armada', 'la vega',
        'sin resolver', 'alto', nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan],
       ['c009', '09/11/24', 'homicidio ', 'ejido', 'sin resolver',
        'alto', nan, nan],
       ['c003', '03/11/24', 'hurto', 'merida casco central', 'resuelto',
        'medio', nan, '3. registros o filas repetidas.'],
       ['c006', '06/11/24', 'secuestro', 'ejido', 'sin resolver', 'alto',
        nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan],
       ['c034', '04/12/24', 'robo a mano armada', 'la vega',
        'sin resolver', 'alto', nan, nan],
       ['c008', '08/11/24', 'robo a mano armada', 'san jacinto',
        'resuelto', 'alto', nan, nan],
       ['c021', '21/11/24', 'acceso a propiedad privada', 'el valle',
        'resuelto', 'bajo', nan, nan],
       ['c015', '15/11/24', 'hurto', 'el valle', 'resuelto', 'medio',
        nan, nan],
       ['c023', '23/11/24', 'acceso a propiedad privada', 'el vallecito',
        'resuelto', 'bajo', nan, nan],
       ['c020', '20/11/24', 'acceso a propiedad privada', 'el valle',
        'resuelto', 'bajo', nan, nan],
       ['c010', '10/11/24', 'homicidio ', 'ejido', 'sin resolver',
        'alto', nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan],
       ['c037', '07/12/24', 'acceso a propiedad privada', 'el valle',
        'resuelto', 'bajo', nan, nan],
       ['c031', '01/12/24', 'robo a mano armada', 'la vega',
        'sin resolver', 'alto', nan, nan],
       ['código', 'fecha', 'descripción', 'ubicación', 'estado',
        'impacto', nan,
        'Para la limpieza de los datos se tendrá lo siguiente: '],
       [nan, 'Delitos reportados mes de Noviembre 2024', nan, nan, nan,
        nan, nan, nan],
       ['c014', '14/11/24', 'hurto', 'el valle', 'resuelto', 'medio',
        nan, nan],
       ['c035', '05/12/24', 'acceso a propiedad privada', 'el valle',
        'resuelto', 'bajo', nan, nan],
       ['c030', '30/11/24', 'homicidio ', 'la vega', 'en proceso',
        'alto', nan, nan],
       ['c001', '01/11/24', 'robo a mano armada', 'merida casco central',
        'resuelto', 'alto', nan, '1. datos faltantes en algunas celdas.'],
       ['c005', '05/11/24', 'homicidio ', 'los sausales', 'sin resolver',
        'alto', nan, '5. valores (outliers) en el caso de numeros'],
       ['c028', '28/11/24', 'homicidio ', 'ejido', 'sin resolver',
        'alto', nan, nan],
       ['c019', '19/11/24', 'robo a mano armada', 'la vega',
        'sin resolver', 'alto', nan, nan],
       ['c018', '18/11/24', 'robo a mano armada', 'la vega',
        'sin resolver', 'alto', nan, nan],
       ['c017', '17/11/24', 'robo a mano armada', 'la vega',
        'sin resolver', 'alto', nan, nan],
       ['c022', '22/11/24', 'acceso a propiedad privada', 'el vallecito',
        'resuelto', 'bajo', nan, nan],
       ['c002', '02/11/24', 'hurto', 'merida casco central', 'resuelto',
        'medio', nan, '2. columnas irrelevantes que no aporten nada.']],
      dtype=object)

In [15]:
df2 = df.head(40)

In [16]:
df2.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
15,c007,07/11/24,acceso a propiedad privada,el valle,resuelto,bajo,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,c032,02/12/24,robo a mano armada,la vega,sin resolver,alto,NaN,NaN
35,c027,27/11/24,homicidio,ejido,sin resolver,alto,NaN,NaN
44,c036,06/12/24,acceso a propiedad privada,el valle,resuelto,bajo,NaN,NaN