In [3]:
import pandas as pd

df = pd.read_csv("/home/jdata/Escritorio/projects/cursoDataScience/2024.csv", nrows = 100)
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Delitos reportados mes de Noviembre 2024,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,código,fecha,descripción,ubicación,estado,impacto,NaN,Para la limpieza de los datos se tendrá lo sig...
9,c001,01/11/24,robo a mano armada,merida casco central,resuelto,alto,NaN,1. datos faltantes en algunas celdas.

In [4]:
df.tail()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
41,c033,03/12/24,robo a mano armada,la vega,sin resolver,alto,NaN,NaN
42,c034,04/12/24,robo a mano armada,la vega,sin resolver,alto,NaN,NaN
43,c035,05/12/24,acceso a propiedad privada,el valle,resuelto,bajo,NaN,NaN
44,c036,06/12/24,acceso a propiedad privada,el valle,resuelto,bajo,NaN,NaN
45,c037,07/12/24,acceso a propiedad privada,el valle,resuelto,bajo,NaN,NaN

In [12]:
df = df.sample(frac = 1)

df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

In [13]:
df.dtypes

Unnamed: 0     object
Unnamed: 1     object
Unnamed: 2     object
Unnamed: 3     object
Unnamed: 4     object
Unnamed: 5     object
Unnamed: 6    float64
Unnamed: 7     object
dtype: object